.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  height: 453px;
  margin-top: 0;
  margin-bottom: 47px;
}.u-section-2 .u-sheet-1 {
  min-height: 594px;
}

.u-section-2 .u-image-1 {
  width: 570px;
}.u-section-3 .u-sheet-1 {
  min-height: 635px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 682px;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 20px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 406px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 406px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 406px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 96px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 900;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 406px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}